packages/ephyslib
logs/*
results/*
results_old/*
*.png
*.pdf
*.out
datasets/*
**/__pycache__/
*.mp4
tmp/
notebooks/.ipynb_checkpoints/*
**/.ipynb_checkpoints
notebook_results/.ipynb_checkpoints
*.svg
**/._*
._*
**/.DS_Store
notebooks/figs/*.csv
results_hpf-1hz/
notebooks/spatiotemporal_decoding
notebooks/wandb
notebooks/tmp*
notebooks/rnn_trajectory_decoding
notebooks/spatiotemporal_decoding_mua/
notebooks/spatiotemporal_decoding_mua_chan/
wandb/*
